.dropDown {
  position: relative;
  display: inline-block;
}

.classButton {
  all: unset;
  width: 25px;
  height: 25px;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 2px;
  border-radius: 50px;
  transition: background-color 0.2s ease;
}
.classButton:hover {
  background-color: var(--col6);
  cursor: pointer;
}

.dropDownMenu {
  position: absolute;
  top: 120%;
  background: #222222;
  backdrop-filter: blur(2px);
  box-shadow: inset 1px 1px #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 4px;
  border-radius: 10px;
  z-index: 10;
  min-width: 100px;
  transform: scale(0.1);
  visibility: hidden;
  transition: transform 0.1s linear;
}

.dropDownMenu ul {
  all: unset;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropDownMenu li {
  list-style: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.liButton {
  all: unset;
  text-align: center;
  width: 80px;
  height: 40px;
}

.dropDownMenu li:hover {
  background: #777;
}

.menuOpen {
  transform: scale(1);
  visibility: visible;
}

.deleteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.deleteText {
  text-align: center;
  width: 200px;
}

.buttonGroup {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.deleteButton {
  all: unset;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.deleteButton:nth-child(1) {
  background-color: #444;
}

.deleteButton:hover {
  background: #777;
}
